---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  posts: CollectionEntry<"blog">[];
};
const { posts } = Astro.props;
---

<div class="row justify-center">
  {
    posts.map((post) => (
      <div class={"col-12 mb-4 sm:col-4"}>
        {post.data.image && (
          <Image
            class="rounded-lg"
            src={post.data.image}
            alt={post.data.title}
            width={445}
            height={230}
          />
        )}
        <h3 class="h4">
          <a href={`/blog/${post.id}`} class="block hover:text-primary">
            {post.data.title}
          </a>
        </h3>
      </div>
    ))
  }
</div>
