---
---

{
  process.env.NODE_ENV === "development" && (
    <div class="fixed top-0 left-0 z-50 flex w-[320px] items-center justify-center bg-gray-200 py-[2.5px] text-[12px] uppercase text-black sm:bg-Blue-200 md:bg-Emerald-200 lg:bg-Indigo-200 xl:bg-Teal-200 2xl:bg-Violet-200">
      <span class="block sm:hidden">Be part of the change!</span>
      <span class="hidden sm:block md:hidden">Make a difference, join now!</span>
      <span class="hidden md:block lg:hidden">Join us for a greener future!</span>
      <span class="hidden lg:block xl:hidden">Together, let’s protect our planet!</span>
      <span class="hidden xl:block 2xl:hidden">Support sustainability, subscribe today!</span>
      <span class="hidden 2xl:block">Help us create a sustainable tomorrow!</span>
    </div>
  )
}
