.header {
  @apply bg-white py-[14px] px-4 md:px-0 md:py-[9px];
}

/* navbar items */
.navbar {
  @apply relative flex flex-wrap items-center justify-between;
}

.navbar-brand {
  @apply text-xl font-semibold text-text-dark;

  img {
    @apply max-h-full max-w-full object-contain;
  }
}

.navbar-nav {
  @apply text-center md:text-left;
}

#nav-menu {
  @apply w-full overflow-hidden md:max-h-full md:w-auto;
}

.nav-item select:focus {
  @apply focus:outline-none focus:ring-0;
}

.nav-link {
  @apply py-3 px-2 font-primary text-base font-bold text-text-dark transition hover:text-primary md:py-4 lg:px-3;
}

.nav-link-active {
  @apply text-primary;
}
