---
import BaseForForms from "@/layouts/BaseForForms.astro";

interface Props {
  title: string;
}

const title = "Restablecer Contraseña";
const description = "Restablecer contraseña";
---

<BaseForForms title={title} description={description}>
  <div class="mx-auto flex w-full flex-col justify-center pt-0 max-w-md">
    <div class="my-auto mb-auto flex flex-col">
      <p class="text-[32px] font-bold text-primary flex gap-4">
        <img src="/images/logo.png" alt="logo" class="h-6" /><span
          >Restablecer contraseña</span
        >
      </p>
      <div class="relative my-4">
        <div class="relative flex items-center py-1">
          <div class="grow border-t border-neutral-200"></div>
          <div class="grow border-t border-neutral-200"></div>
        </div>
      </div>
      <div>
        <form id="reset-password-form" class="mb-4">
          <div class="grid gap-2">
            <div class="grid gap-1">
              <label class="text-neutral-950" for="email">Correo</label><input
                class="outline-none border border-neutral/950 rounded px-4 py-3 w-full mt-2 focus:outline-none focus:shadow-outline"
                placeholder="nombre@ejemplo.com"
                type="email"
                name="email"
              />
            </div><button
              id="btn-submit"
              class="mt-4 w-full border-2 border-primary bg-primary text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline hover:bg-primary-dark transition duration-300"
              type="submit">Enviar Correo de Restablecimiento</button
            >

            <div class="flex justify-center mt-4 gap-6">
              <p>
                <a
                  href="/login"
                  class="font-medium text-neutral-500 text-sm hover:underline"
                  >Regresar a Iniciar Sesión</a
                >
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</BaseForForms>

<script>
  "astro:load";

  import Swal from "sweetalert2";
  import { actions } from "astro:actions";

  document.addEventListener("astro:page-load", () => {
    const $form = document.querySelector(
      "#reset-password-form"
    ) as HTMLFormElement;
    $form.addEventListener("submit", async (event) => {
      event.preventDefault();

      const formData = new FormData($form);

      const { email } = Object.fromEntries(formData);

      const emaliRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
      const isValidEmail = (email as String).match(emaliRegex);

      if (!isValidEmail) {
        showError(new Error("El correo electrónico no es válido"));
        return;
      }

      try {
        const { data, error } = await actions.resetPassword(formData);

        if (error) {
          throw new Error(error.message);
        }

        Swal.fire({
          icon: "success",
          title: "Correo Enviado",
          text: data.message,
        });

        setTimeout(() => {
          window.location.href = "/login";
        }, 3000);
      } catch (error: any) {
        Swal.fire({
          icon: "error",
          title: "Error",
          text: error.message,
        });
      }
    });
  });

  const showError = (error: Error) => {
    Swal.fire({
      icon: "error",
      title: "Error",
      text: error.message,
    });
  };
</script>
